body{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h6{
    margin: 0;
    padding: 0;
    color: white;
}
footer{
    background-color: #4e4f53;
    color: #0c0b1f;
    opacity: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}